.wrap-report {
    margin: 2em 0 0 0;
    position: relative;
    padding: 3em 0;

  .wrap {
    position: static;
  }
  .heading {
      &::before {
      background-image:  url("../svg/sprite.svg#report");
          background-position: 0px -1px;
    }
  }
  
  .report-block {
    display: grid;
    grid-template-columns: auto minmax(380px, 1fr);
    grid-gap: 10px;
    img {
      position: absolute;
      right: 0;
      top: 3em;
      // height: 90%;
    }
  }

}

.report-image {
  img {
        position: absolute;
    /* right: 0; */
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
  }
}

%tab-captopn-active {
  color: #E60000;
  text-decoration: underline;
}

.report-tabs {

  &__caption {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    position: relative;
    margin: -1px 0 0 -1px;
    li {
      padding: 10px 5px;
      color: #a0a0a0;
      position: relative;
      transition: 0.4s;
      font-size: 1.213em;
      &:not(.active) { 
        cursor: pointer;
        &:hover {
          @extend %tab-captopn-active;
        }
      }
    }
    .active {
      @extend %tab-captopn-active;
      font-weight: 600;
    }
  }
  &__content {
    display: none;
    padding: 0.5em 0px;
    &.active {
      display: block;
    }
  }
  .btn {
    margin: 50px 0 0 0;
  }
}

@media screen and (max-width: 650px) {
  .tabs__caption {
    li {
      -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
    }
  }
}
