.wrap-report {
    position: relative;
    min-height: 440px;
    background-image: url(../../src/img/report.png);
    background-position: calc(100% + 100px) 20px;
    background-size: auto;
    background-repeat: no-repeat;

  .wrap {
    display: flex;
    position: static;
  }
  .heading {
      &::before {
      background-image:  url("../svg/sprite.svg#report");
    }
  }
  
  .report-block {
    padding: 0 25% 0 0;  
  }

}

%tab-captopn-active {
  color: #E60000;
  text-decoration: underline;
}

.report-tabs {
  &__caption {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    position: relative;
    margin: -1px 0 0 -1px;
    li {
      padding: 10px 5px;
      color: #a0a0a0;
      position: relative;
      transition: 0.4s;
      &:not(.active) { 
        cursor: pointer;
        &:hover {
          @extend %tab-captopn-active;
        }
      }
    }
    .active {
      @extend %tab-captopn-active;
      font-weight: 600;
    }
  }
  &__content {
    display: none;
    padding: 0.5em 0px;
    &.active {
      display: block;
    }
  }
}

@media screen and (max-width: 650px) {
  .tabs__caption {
    li {
      -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
    }
  }
}
