.check-out {
    font-size: 13px;
    @media #{$desktop_max_middle_1366} {
        font-size: 12px;
    }
    h2 {
        padding: 14px 5px 15px 0;
        font-weight: 600;
        font-size: 15px;
        @media #{$desktop_min_small} {
            font-size: 18px;
        }
        @media #{$desktop_large_min} {
            font-size: 20px;
        }
    }
    &__block {
        display: flex;
        display: table\9;
        @media #{$desktop_max_small} {
            flex-direction: column;
        }
    }
    &__form,
    &__product {
        background:$theme_bg_check_out_form;
        display: table-cell\9;
    }
    &__form {
        padding: 20px 40px;
        font-size: 14px;
        @media #{$desktop_large_max} {
            font-size: 12px;
        }
        @media #{$desktop_min_small} {
            width: 70%;
            padding: 25px 45px;
        }
        @media #{$desktop_min_middle_1367} {
            width: 56%;
        }
    }
    form + &__product_code{
        padding: 15px 0 0;
        margin: 0;
    }
    &__product {
        padding: 35px 13px;
        border-left: 4px solid $body_bg;
        flex-grow: 1;
    }
    &__form_titel,
    &__product_item_product {
        position: relative;
        font-weight: 600;
        font-size: 17px;
        padding-bottom: 10px;
        .way-number {
            width: 25px;
            height: 25px;
            border: 1px solid $theme_way_number_border_active;
            display: inline-block;
            text-align: center;
            border-radius: 50%;
            font-size: 15px;
            position: absolute;
            font-weight: 400;
            left: -32px;
            top: -3px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
        }
        @media #{$desktop_max_middle_1366} {
          font-size: 15px;
        }
    }
    &__form_titel {
        &.disabled {
            color: $theme_title_color_disabled;
            .way-number {
                border-color: $theme_title_color_disabled;
                color: $theme_title_color_disabled;
            }
        }
    }
    &__product_item_product {
        padding-bottom: 15px;
    }
    &__product_item_otstup,
    &__product_total,
    &__product_code {
        margin: 0 -13px 0px -13px;
    }
    &__product_item_otstup {
        padding: 10px 13px 34px;
    }
    &__product_item_otstup,
    &__product_total{
        border-top: 1px solid darken($body_bg, 20%);
    }
    &__product_total {
      border-bottom: 1px solid darken($body_bg, 20%);
    }
    &__product_item_action {
        @media #{$desktop_min_small} {
            padding-left: 45px;
        }
        &_red {
            color: $theme_button_bg;
        }
    }
    &__product_item_block {
        display: flex;
        padding: 10px 0 0 0;
        line-height: 1;
        position: relative;
        @media #{$desktop_min_small} {
            padding: 15px 0 0 50px;
        }
        @media #{$desktop_max_small} {
            padding-right: 30px;
        }
        .product-titel {
            a {
                text-decoration: none;
                color: $theme_item_title_color;
            }
        }
        &_text {
            .product-titel,
            .product-price {
                display: flex;
                line-height: 1.4;
                margin: 0;
            }
        }
        .product-price-number {
            font-size: 13px;
            font-weight: 700;
            padding: 0px 5px 0 0;
            color: $theme_price_number_color;
        }
        .product-oldPrice {
            color: lighten($theme_price_number_color, 40%);
            text-decoration: line-through;
        }
    }
    .icon-bonus {
        background: url(../img/general/icons/ico-uah.png) no-repeat center;
        background-size: auto 63%;
        display: inline-block;
        padding: 7px;
        border-radius: 50%;
        border: 1px solid $theme_icon_bonus_border;
        margin: 0 4px 0 0;
        position: relative;
        top: 3px;
    }
    &__product_item_block_img {
        min-width: 95px;
        img {
            max-width: 65px;
        }
    }
    &__price_block {
        display: flex;
        align-items: center;
        padding: 10px 0;
    }
    &__product_item_amount {
        border: 1px solid $theme_color;
        display: table;
        margin-right: 7px;
        span {
            width: 33.33%;
            font-size: 13px;
            display: table-cell;
            vertical-align: middle;
            padding: 6px 10px
        }
        .amount__minus,
        .amount__plus {
            cursor: pointer;
        }
    }
    &__product_item_closed {
        background: url(../img/general/icons/close-icon.svg) center;
        background-size: 50%;
        position: absolute;
        background-repeat: no-repeat;
        cursor: pointer;
        left: 5px;
        height: 25px;
        width: 25px;
        transition: 0.2s;
        top: 15px;
        /* css close icon */
        // &::before,
        // &::after {
        //     content: '';
        //     display: block;
        //     border-top: 1px solid $theme_arrow_close_color;
        //     position: absolute;
        //     width: 12px;
        //     left: 6px;
        //     top: 12px;
        // }

        // &::before {
        //     transform: rotate(-45deg);
        // }

        // &::after {
        //     transform: rotate(45deg);
        // }
        @media #{$desktop_max_small} {
            right: 0;
            left: auto;
        }
    }
    &__form_row {
        padding: 0 0 20px 0;
        label {
            display: block;
            line-height: 1.5;
            color: $theme_form_label;
        }
       input, .select2-selection--single {
            border: 1px solid #bdbdbd;
            padding: 8px 9px;
            width: 100%;
            color: #2d2c2c;
            font-size: 14px;
            height: auto;
            border-radius: 0;
            @media #{$desktop_max_middle_1366} {
              font-size: 12px;
            }
            &::-webkit-input-placeholder, 
            &::-moz-placeholder,
            &:-ms-input-placeholder,
            &:-moz-placeholder {
                color: $theme_form_input_placeholder;
            }
        }
        select {
            width: 100%;
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: '';
        }
        .select2-container {
            width: 100% !important;
            .select2-selection--single {
                span {
                    font-size: 12px;
                    color: $theme_form_input_color;
                    line-height: 1.4;
                    padding: 0;
                    @media #{$desktop_max_middle_1366} {
                      font-size: 11px;
                   }
                }
            }
         }
        &.button {
            text-align: right;
            .btn {
                background: lighten($theme_button_bg, 5%);
                border: none;
                cursor: pointer;
                color: $theme_button_color;
                padding: 10px 25px;
                text-shadow: none;
                box-shadow: none;
                outline: none;
                &[disabled=disabled],
                &:disabled,
                &-ms-button[disabled] {
                    background: lighten($theme_button_bg, 15%);
                    color: $theme_button_color !important;
                    text-shadow: none;
                    font-weight: normal;
                    border: none;
                    outline: none;
                }
                &:hover {
                    background: darken($theme_button_bg, 5%);
                }
            }
        }
    }
    &__form_way_contact {
        padding: 5px 0px 25px;
        display: flex;
        @media #{$desktop_max_middle} {
            padding: 5px 0 25px;
            justify-content: space-between;
            a {
                font-size: 14px;
                width: 50%;
                text-align: center; 
            }
        }
        a {
            display: inline-block;
            text-decoration: none;
            color: $theme_form_contact_link;
            padding: 7px 11px;
            margin: 0 20px 0 0;
            @media #{$desktop_max_middle_1366} {
              font-size: 12px;
            }
            &.js-news-client {
                border: 1px solid darken($theme_button_bg, 2%);
            }
            &.active {
                color: $theme_form_contact_link_active;
            }
            @media #{$desktop_max_small} {
                text-align: center;
                padding: 15px 0;
                background: $body_bg;
                margin: 0;
                width: 49%;
            }
        }
    }
    &__product_code {
        padding: 15px 34px 10px;
        .titel {
            color: $theme_link_color;
            border-bottom: 1px dotted $theme_link_color;
            cursor: pointer;
            transition: 0.2s;
            margin-right: 10px;
            &:hover {
                border-bottom-color: transparent;
            }
        }
    }
    &__product_code_bonus {
        margin: 0 0 15px 0;
    }
    &__form_checbox {
        padding: 0 0 20px 0;
        a,
        a:visited {
          color: $theme_link_color;
        }
        input[type="checkbox"] {
            display: none;
            &+label {
                position: relative;
                display: flex;
                align-self: center;
                span {
                    align-self: center;
                    font-size: 11px;
                    line-height: 1.4;
                    @media #{$desktop_max_small} {
                      font-size: 10px;
                    }
                    &::before {
                        content: '\002714';
                        display: none;
                        position: absolute;
                        left: 5px;
                        cursor: pointer;
                        top: 1px;
                        color: $theme_color; 
                        font-weight: 500;
                        font-size: 14px;
                    }
                }
                &::before {
                    content: '';
                    position: relative;
                    display: inline-block;
                    width: 19px;
                    min-width: 19px;
                    height: 19px;
                    border: 1px solid $theme_border;
                    margin-right: 5px;
                    cursor: pointer;
                }
            }
            &:checked~label {
                span {
                    &::before {
                        display: inline-block;
                    }
                }
            } 
        }
    }
    &__product_total {
        padding: 15px 34px 34px;
        box-shadow: 0px 5px 0px $body_bg;
        &_right {
            text-align: right;
        }
        .price-bonus {
            display: block;
            line-height: 1.4;
            margin: 0 0 4px 0;
            @media #{$desktop_min_middle_1367} {
              font-size: 14px;
            }
            &.bold {
                font-weight: 700;
                .semibold {
                    font-size: 16px;
                }
            }
        }
        .semibold {
            font-weight: 600;
        }
    }
}