.header {
  min-height: 50px; 
  padding: 17px 0;
  background: #fff;
  .header__logo {    
    min-width: 140px;
    max-width: 230px;
    position: relative; 
    z-index: 5;
    @media #{$desktop_max} {
        max-width: 165px;
    }
    @media #{$desktop_large_max} {
      max-width: 120px;
      min-width: 115px; 
    }
    @media #{$menu_breakpoint} {
      // position: absolute;
      // transform: scale(0.9,0.9);
      // top: 10px;
    }
    img {
      max-height: 26px;
    }
  }
  nav {
      align-self: center;
  }
}
