@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}

@function svg-bg($colour) {
    @return '%23' + str-slice('#{$colour}', 2, -1)
}

$wrap: "only screen and (max-width: 1140px)";

$tablet_slider_min: "(min-width: 768px)";
$tablet_slider_max: "(max-width: 768px)";

$tablet_m_min_custom: "(min-width: 741px)";
$tablet_m_max_custom: "(max-width: 740px)";
 
$ipad_min_v:  "only screen and (min-width: 769px)"; 
$ipad_max_v:  "only screen and (max-width: 768px)"; 

$desktop_min_small: "only screen and (min-width: 992px)";


$desktop_max_middle: "only screen and (max-width: 1025px)";
$desktop_min_middle: "only screen and (min-width: 1025px)";

$desktop_min: "only screen and (min-width: 1200px)"; 
$desktop_max: "only screen and (max-width: 1200px)"; 


$tablet_s: '740px';

$ipad_portrait_min: '769px';

$ipad_portrait_max: '768px';

$ipad_landscape: '1024px';

$credit_block_breakpoint: "820px";

$desktop_1100: '1100px';



$desktop_860: "860px";
@mixin desktop_860_max {
   @media (max-width: #{$desktop_860}) {
       @content;
   }
}

$small_mobile_xs_max: "580px";
@mixin small_mobile_xs_max {
   @media (max-width: #{$small_mobile_xs_max}) {
       @content;
   }
}

$small_mobile_xs_min: "280px";
@mixin small_mobile_xs_min {
   @media (min-width: #{$small_mobile_xs_min}) {
       @content;
   }
}


$small_mobile: "500px";
@mixin small_mobile {
   @media (max-width: #{$small_mobile}) {
       @content;
   }
}

$small_mobile_530: "530px";
@mixin small_mobile_530 {
   @media (max-width: #{$small_mobile_530}) {
       @content;
   }
}
@mixin small_mobile_530_min {
   @media (min-width: #{$small_mobile_530}) {
       @content;
   }
}

$small_mobile_360_max: "360px";
@mixin small_mobile_360_max {
   @media (max-width: #{$small_mobile_360_max}) {
       @content;
   }
}



$tablet_s_max: '600px';
@mixin tablet_s_max {
   @media (max-width: #{$tablet_s_max}) {
       @content;
   }
}
$tablet_600_min: '600px';
@mixin tablet_600_min {
   @media (min-width: #{$tablet_s_max}) {
       @content;
   }
}

$tablet_600_max: '600px';
@mixin tablet_600_max {
   @media (max-width: #{$tablet_600_max}) {
       @content;
   }
}


// $tablet_740_breakpoint_min_width: '740px';
// $tablet_600_breakpoint_min_height: '420px';
// @mixin tablet_600_max {
//    @media (max-width: #{$tablet_740_breakpoint_min_width}) {
//        @content;
//    }
// }

$tablet_s_min: '601px';
@mixin tablet_s_min {
   @media (min-width: #{$tablet_s_min}) {
       @content;
   }
}

@mixin ipad_portrait_min {
   @media (min-width: #{$ipad_portrait_min}) {
       @content;
   }
}

@mixin ipad_portrait_max {
   @media (max-width: #{$ipad_portrait_max}) {
       @content;
   }
}

// Medium devices
@mixin credit_block_breakpoint {
   @media (min-width: #{$credit_block_breakpoint}) {
       @content;
   }
}

// Large devices
@mixin ipad_landscape_max {
   @media (max-width: #{$ipad_landscape}) {
       @content;
   }
}
// Large devices
@mixin ipad_landscape_min {
   @media (min-width: #{$ipad_landscape}) {
       @content;
   }
}


// Large devices
@mixin desktop_1100_min {
   @media (min-width: #{$desktop_1100}) {
       @content;
   }
}
 

@mixin desktop_1100_max {
   @media (max-width: #{$desktop_1100}) {
       @content;
   }
}

$desktop_990_max: "990px";
@mixin desktop_990_max {
   @media (max-width: #{$desktop_990_max}) {
       @content;
   }
}

$desktop_1000: "1000px";
@mixin desktop_1000_max {
   @media (max-width: #{$desktop_1000}) {
       @content;
   }
}
@mixin desktop_1000_min {
   @media (min-width: #{$desktop_1000}) {
       @content;
   }
}

$tablet_s_740: "740px";
@mixin tablet_s_740_max {
   @media (max-width: #{$tablet_s_740}) {
      @content;
   }
}

$tablet_700_max: "700px";
@mixin tablet_700_max {
   @media (max-width: #{$tablet_s_740}) {
      @content;
   }
}

$tablet_s_730: "730px";
@mixin tablet_s_730_max {
   @media (max-width: #{$tablet_s_730}) {
      @content;
   }
}


$tablet_s_670: "670px";

@mixin tablet_s_670 {
   @media (max-width: #{$tablet_s_670}) {
       @content;
   }
}

// $tablet_s_740_landscape: "740px";
// @mixin tablet_s_740_landscape {
//    @media screen and (max-width: #{$tablet_s_740}), and screen (max-height: #{$tablet_s_740})  {
//        @content;
//    }
// }


$tablet_s_740_min: "740px";
@mixin tablet_s_740_min {
   @media (min-width: #{$tablet_s_740}) {
       @content;
   }
}

$tablet_860: "860px";
$tablet_859: "859px"
;
@mixin tablet_860_max {
   @media (max-width: #{$tablet_860}) {
       @content;
   }
}

@mixin tablet_860_min {
   @media (min-width: #{$tablet_860}) {
       @content;
   }
}

@mixin tablet_859_max {
   @media (max-width: #{$tablet_859}) {
       @content;
   }
}

$tablet_420_breakpoint_max_height: '420px';

@mixin tablet_s_740_min_and__max_height {
   @media screen and (max-width: #{$tablet_s_740}), (max-height: #{$tablet_420_breakpoint_max_height}) {
       @content;
   }
}

@mixin tablet_420_breakpoint_max_height {
   @media screen and (max-height: #{$tablet_420_breakpoint_max_height}) {
       @content;
   }
}

$desktop_1200: '1200px';
// Large devices
@mixin desktop_1200_min {
   @media (min-width: #{$desktop_1200}) {
       @content;
   }
}
@mixin desktop_1200_max {
   @media (max-width: #{$desktop_1200}) {
       @content;
   }
}

$desktop_1024_max: "1024px";
@mixin desktop_1024_max {
   @media (max-width: #{$desktop_1024_max}) {
       @content;
   }
}

$desktop_1500: "1500px";
@mixin desktop_1500_max {
   @media (max-width: #{$desktop_1500}) {
       @content;
   }
}

@mixin desktop_1500_min {
   @media (min-width: #{$desktop_1500}) {
       @content;
   }
}

$desktop_1600: '1600px';

@mixin desktop_1600_min {
   @media (min-width: #{$desktop_1600}) {
       @content;
   }
}

$desktop_1360: "1360px";
@mixin desktop_1360_max {
   @media (max-width: #{$desktop_1360}) {
       @content;
   }
}

@mixin desktop_1360_min {
   @media (min-width: #{$desktop_1360}) {
       @content;
   }
}


$desktop_large: "1601px";

@mixin desktop_1601_max {
   @media (max-width: #{$desktop_large}) {
       @content;
   }
}

@mixin desktop_1601_min {
   @media (min-width: #{$desktop_large}) {
       @content;
   }
}

$desktop_1700: "1700px";

@mixin desktop_1700_max {
   @media (max-width: #{$desktop_1700}) {
       @content;
   }
}

@mixin desktop_1700_min {
   @media (min-width: #{$desktop_1700}) {
       @content;
   }
}
$desktop_1280: "1280px";
@mixin desktop_1280_max {
   @media (max-width: #{$desktop_1700}) {
       @content;
   }
}
