@import 'vars';
@import 'media';
@import 'mixins'; 

*, *::before, *::after {
  box-sizing: border-box;
} 

$min_width: 300px;
$max_width: 1920px;
$min_font: 25px;
$max_font: 52px;

.heading {
  align-items: center;
  color: #3F3F3F;
  @include fluid-type(300px, 1920px, 22px, 52px);
  margin: 0 0 0.3em 0;
  line-height: 1.1;
  span {
    letter-spacing: 0.02em;
    // line-height: 1.1;
    &:first-child {
      font-weight: 600;
      margin: 0 0.25em 0 0.3em;
      font-size: 0.95em;
      @include _560_max {
        margin-left: 0;
      }
    }
    &.no-bold {
      font-weight: normal;
    }
    &.bold {
      font-weight: 600;
    }
  }
  @include _560_min {
    display: flex;
    flex-wrap: wrap;
  }
  &::before {
    content: '';
    height: 1.1em;
    width: 1.1em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   
    align-self: flex-start;
    @include _560_max {
      margin: 0.5em auto 0.3em 0.2em;
      transform: scale(1.4);
      display: block;
    }
  }
  &.icon-tender, &.tender, &.icon-subscribe {
    &::before {
      background-image: url(../svg/sprite.svg#tender);
    }
  }
  &.icon-tender, &.tender {
    &::before {
      transform: scale(0.9);
    }
  }
  &.icon-contacts {
    &::before {
      background-image: url(../svg/sprite.svg#contacts);
    }
  }
}

.btn {
  background: linear-gradient(180deg, #FF3737 4.87%, #E60000 100%);
  box-shadow: 0px 6px 18px rgba(230, 0, 0, 0.5);
  border-radius: 40px;
  display: inline-block;
  padding: 1em 2em;
  font-family: PT Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  @include fluid-type(350px, 1920px, 16px, 16px);
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #fff;
  text-decoration: none;
  @include _1100_min {
    padding: 1.6em 3em;
  }
}



h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 1rem 0 1.4rem 0;
  line-height: 1.3;
}

h1 {
  @include fluid-type(300px, 1920px, 24px, 52px);
  line-height: 1.0;
}
h2 {
  @include fluid-type(300px, 1920px, 22px, 46px);
  line-height: 1.1;
}
h3 {
  @include fluid-type(300px, 1920px, 20px, 40px); 
}
h4 {
  @include fluid-type(300px, 1920px, 18px, 35px); 
}
h5 {
  @include fluid-type(300px, 1920px, 16px, 30px); 
}
h6 {
  @include fluid-type(300px, 1920px, 14px, 25px); 
}

p {
  color: #656B6F;
  line-height: 1.5;
  margin: 0 0 1.5rem 0;
  // font-size: 0.95rem;
  &.underline {
    &::after {
      content: '';
      background: linear-gradient(90deg, #FF3737 0%, #E60000 100%);
      border-radius: 4px;
      width: 100px;
      height: 4px;
      display: block;
      margin: 25px 0 0 0;
    }
  }
}

a {
  &.link-more {
    // font-size: 1.125em;
    color: #000;
    text-decoration: none;
          span {
transition: 0.06s;
    text-decoration: none;
    border-bottom: 1px solid #000;
    font-size: 1.1rem;
          }
    &::after {
      content: '>';
      margin: 0 7px;
      display: inline-block;
      text-decoration: none;
      position: relative;
      top: 2px;
    }
    &:hover {
      span {
        border-bottom-color: transparent;
      }
    } 
  }
}

.bold {
  font-weight: 600;
} 
.no-bold {
  font-weight: 400;
} 