@import 'vars';
@import 'media';
@import 'mixins'; 

$min_width: 300px;
$max_width: 1920px;
$min_font: 25px;
$max_font: 52px;

.heading {
  align-items: center;
  color: #3F3F3F;
  text-align: center;
  @include fluid-type(300px, 1920px, 25px, 48px);
  margin: 0 0 0.3em 0;
  span:first-child {
    font-weight: 600;
    margin: 0 0.25em 0 0.25em;
    font-size: 0.95em;
  }
  @include _560_min {
    display: flex;
  }
  &::before {
    content: '';
    width: 1.05em;
    height: 1.05em;
    background-size: contain;
    margin: 0.1em 0 0 0.1em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
    @include _560_max {
      margin: 0.5em auto 0.1em;
      transform: scale(1.4);
      display: block;
    }
  }
}